<!DOCTYPE html>
<html lang="kr">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K2K</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">K2K</h1>
    <a class="btn btn-success" th:href="@{/k2k}">호텔 검색</a>
    <a class="btn btn-success" th:href="@{/k2k}">호텔 예약</a>
    <a class="btn btn-success" th:href="@{/k2k/Board/getBoardList}">게시판</a>
    <a class="btn btn-success" th:href="@{/k2k/logout}">로그아웃</a>
    <a class="btn btn-success" th:href="@{/k2k/Lodgment/add}">숙박 등록</a>
    <a class="btn btn-success" th:href="@{/k2k/User/view}">회원 목록</a>
    <a class="btn btn-success" th:href="@{/k2k/Lodgment/view}">숙박 목록</a>
</div>
</body>
</html>