<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <ul class="menu">
        <li><a href="#">호텔 검색</a></li>
        <li><a href="#">호텔 예약</a></li>
        <li><a href="#">호텔 평가</a></li>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">자유게시판</a></li>
        <li><a href="#">로그인</a></li>
    </ul>
    <form th:action="@{/board/notice}" method="get" id="searchForm" class="mb-4">
        <div class="col-auto">
            <select id = "searchCondition" name="searchCondition" class="form-control">
                <option value="TITLE">제목</option>
                <option value="content">내용</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" id="keyword" name="searchKeyowrd" class="form-control" th:value="${searchKeyowrd}">
        </div>
        <div>
            <input type="hidden" id="memberName" name="memberName" class="form-control" th:value="${memberName}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col" style="width: 100px;">등록일</th>
                <th scope="col">조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board, state : ${boardList}">
                <td th:text="${state.count}" class="text-center"></td>
                <td><a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a></td>
                <td th:text="${board.member.name}" class="text-center"></td>
                <td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}" class="text-center"></td>
                <td th:text="${board.cnt}" class="text-center"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>